.input {
    display: flex;
    width: 35%;
    position: relative;
    align-items: center;
}

.input__box {
    width: 100%;
    border-radius: 50px;
    padding: 20px 30px;
    outline: none;
    border: none;
    font-size: 1.5rem;
    transition: 0.2s;
    box-shadow: inset 0 0 2px black;
}

.input__box:focus {
    box-shadow: 0 0 10px 1000px rgba(0, 0, 0, 0.5);
}

.input__submit {
    position: absolute;
    width: 50px;
    height: 50px;
    margin: 12px;
    border-radius: 50px;
    right: 0;
    border: none;
    background: #0d93e0b3;
    color: #fff;

    font-size: 2rem;
    display: flex;
    justify-content: center;
}

.input__submit:hover {
    background-color: #1b9ae4;
}

.input__submit:active {
    transform: scale(0.85);
}

.container {
    width: 85%;
    /* height: auto; */
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
    justify-content: space-between;
    align-items: flex-start;
}

.todo__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin: 1rem 0.5rem;
    padding: 0.5rem 1.5rem;
    background: yellow;
    /* background: url('https://img.freepik.com/free-photo/yellow-clay-textured-background-colorful-handmade-creative-art-abstract-style_53876-134213.jpg?w=1380&t=st=1674222619~exp=1674223219~hmac=c0f27cd9cd312666acd86f14c7e3bd6fdd9e63eb90d39bc65ac0acc05e984537'); */
    font-size: 1.5rem;
    width: 45%;
    height: 3rem;
    /* max-width: 45%; */
}

.task__striken {
    text-decoration: line-through;
}   

.todo__item--modifiers {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.todo__item--icon {
    padding: 0 0.25rem;
    font-size: 1.5rem;
    cursor: pointer;
}

.todo__item--task-edit input{    
    padding: 0.5rem 0.25rem;
    font-size: 1.5rem;
    outline: none;
    border: none;
}

.todo__item--task-edit input:focus, .todo__item--task-edit input:focus-visible {
    outline: none;
    border: none;
}

@media (max-width: 1200px) {
    .input {
        width: 90%;
    }

    .todo__item {
        width: 90%;
        margin: inherit auto;
    }
}